<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxy.mapper.IdCardMapper">
    <select id="findCodeById" parameterType="Integer" resultType="com.rjxy.pojo.IdCard">
     select * from tb_idcard where id=#{id}
    </select>
</mapper>
